 <div class="header">
  <h1>Swipe Finder</h1>
</div> 

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/"></a>
  <form class="form-inline">
    
    <div style="padding-left: 10px;">
      <button class="btn btn-outline-default" type="button">Buy Swipes</button>
    </div>
    <div style="padding-left: 10px;">
      <button class="btn btn-outline-default" type="button">Sell Swipes</button>
    </div>
    <div style="padding-left: 10px;">
      <button class="btn btn-outline-default" type="button">Contact Us</button>
    </div>
  </form>
</nav>