<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid row">
    <div class="container">
      <h1 class="display-4">Welcome to the UNCC Swipe Trader</h1>
      <p class="lead">This site serves as a place for students to buy swipes they may need and to sell ones they don't.</p>
    </div>
  </div>
</div>